<form [formGroup]="useradd">
    <h2> Registration Form </h2>
    <div class="space">
        <label for="fname"> FirstName :- </label>
        <p>
            <input type="text" name="fname" id="fname" formControlName="firstName">
            <span *ngIf="firstName && firstName.invalid && firstName.touched"> This Field is Invalid.</span>
        </p>
    </div>
    
    <div class="space">
        <label for="lname"> Last Name :- </label>



        <p>
            <input type="text" name="lname" id="lname" formControlName="lastName">
            <span *ngIf="lastName && lastName.invalid && lastName.touched"> This Field is Invalid.</span>
        </p>
    </div>
    
    <div class="space">
        <label for="phone"> Phone Number :- </label>
        <p>
            <input type="number" name="phone" id="phone" formControlName="phoneNumber">
            <span *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched"> This Field is Invalid.</span>
        </p>
    </div>
    
    <div class="space">
        <label for="mail"> Email :- </label>
        <p>
            <input type="text" name="mail" id="mail" formControlName="Email">
            <span *ngIf="Email && Email.invalid && Email.touched"> This Field is Invalid.</span>
        </p>
    </div>
        
    <div class="space">
        <label for="age"> Age :- </label>
        <p>
            <input type="text" name="age" id="age" formControlName="Age">
            <span *ngIf="Age && Age.invalid && Age.touched"> This Field is Invalid.</span>
        </p>
    </div>
    
    <div class="space">
        <label for="gender"> Gender:- </label>
        <div>
            <input type="radio"  id="male" value="Male" formControlName="gender">
            <label for="male"> Male </label>
            <input type="radio"  id="female" value="Female" formControlName="gender">
            <label for="female"> Female </label>
            <span *ngIf="gender && gender.invalid && gender.touched"> This Field is Invalid.</span>
        </div>
    </div>
    <div class="space">
        <label for="dob"> Date of Birth :- </label>
        <input type="date" name="dob" id="dob" formControlName="dob">
        <span *ngIf="dob && dob.invalid && dob.touched"> This Field is Invalid.</span>
    </div>

    <div class="space">
        <label for="department"> Department:- </label>
        <div>
            <select id="department" name="department" formControlName="departList">
                <option *ngFor="let d of department" [value]="d.id">
                    {{ d.name }}
                </option>
            </select>
            <span *ngIf="departList && departList.invalid && departList.touched"> This Field is Invalid.</span>
        </div>
    </div>
    <div class="space">
        <button (click)="onsubmit()" [disabled]="!useradd.valid"> Submit </button>
    </div>
    
</form>