<p>employee-list works!</p>
<div class="main">
  <nav class="navbar">
    <h3>
      Angular 13 curd
    </h3>
    <div class="btn">
      <button class="btn btn-primary" routerLink="/parent/form">Add student</button>
    </div>

  </nav>
  
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>email</th>
        <th>gender</th>
        <th>Phone numbar</th>
        <th colspan="2">Action </th>


      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td><button class="btn btn-1"> edit </button></td>
        <td><button class="btn btn-2"> delete</button></td>


      </tr>
    </table>
  
</div>