:host{
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 100px;
    background-color: #eaeef0;
    font-size: 20px;

}
.continer{

    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .nav{
        display: flex;
        justify-content: space-around;
        
        margin: 20px 0;
       
        #myInput {
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 1000px;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
           
        }
    }


    button{
        border: none;
        background-color: #f1c1d9;
        color: black;
        border-radius: 3px;
        padding: 5px 10px;
        font-weight: 600;
        font-size: 15px;
    }

    .bx{
        padding: 0 5px;
        color: #2e2f36;
        transform: scale(1.2,1.2);
    }

    table,td,th{
        border-collapse: collapse;
        padding: 5px 20px;
        border: 1px solid #0708411c;
        text-align: center;
        color: rgb(37, 12, 12);
        cursor: pointer;
    }

    th{
        background-color: #6dbaf8;
        color: black;
    }

    table{
        width: 80%;
        margin: 0 auto;
    }
}