<form class="d-flex f-direct" [formGroup]="useradd" (ngSubmit)="createuser()"> 
    <h2> User Registration Form</h2>
    <div class="space d-flex j-between">
        <label for="fname"> First Name :- </label>
        <p class="d-flex f-direct">
            <input type="text" name="fname" id="fname" formControlName = 'firstname'>
            <span *ngIf="useradd.get('firstname')?.touched && useradd.get('firstname')?.hasError('required')"> This Feild is Required</span>
            <span *ngIf="useradd.get('firstname')?.touched && useradd.get('firstname')?.hasError('minlength')"> Enter Minimum 5 Character</span>
        </p>
    </div>
    <div class="space d-flex j-between">
        <label for="lname"> Last Name :- </label>
        <p class="d-flex f-direct">
            <input type="text" name="lname" id="lname" formControlName = 'lastname'>
            <span *ngIf="useradd.get('lastname')?.touched && useradd.get('lastname')?.hasError('required')"> This Feild is Required</span>
            <span *ngIf="useradd.get('lastname')?.touched && useradd.get('lastname')?.hasError('minlength')"> Enter Minimum 5 Character</span>
            <span *ngIf="useradd.get('lastname')?.touched && useradd.get('lastname')?.hasError('maxlength')"> Enter Maximum 15 Character</span>
        </p>
    </div>
    <div class="space d-flex j-between">
        <label for="num"> Phone Number :- </label>
        <p class="d-flex f-direct">
            <input type="number" name="num" id="num" formControlName = 'phone'>
            <span *ngIf="useradd.get('phone')?.touched && useradd.get('phone')?.hasError('required')"> This Feild is Required</span>
            <span *ngIf="useradd.get('phone')?.touched && useradd.get('phone')?.hasError('minlength')"> Enter Minimum 10 Character</span>
        </p>
    </div>
    <div class="space d-flex j-between">
        <label for="mail"> Email :- </label>
        <p class="d-flex f-direct">
            <input type="email" name="mail" id="mail" formControlName = 'elemail'>
            <span *ngIf="useradd.get('elemail')?.touched && useradd.get('elemail')?.hasError('required')"> This Feild is Required</span>
            <span *ngIf="useradd.get('elemail')?.touched && useradd.get('elemail')?.hasError('email')"> Enter a Valid Email</span>
        </p>
    </div>
    <div class="space">
        <input type="submit" value="Submit" class="sub" [disabled]="!useradd.valid">
    </div>
</form>