/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&family=Roboto&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
}

html, body{
    height: 100%;
}

.d-flex{
    display: flex;
}

.j-center{
    justify-content: center;
}

.j-between{
    justify-content: space-between;
}

.a-items{
    align-items: center;
}

.f-direct{
    flex-direction: column;
}

// Sidebar section 

h1{
    color: white;
    padding: 10px 30px;

}

.menu{
    padding: 50px 0;
    list-style: none;

    .items{
        margin: 10px 0;

        .links{
            text-decoration: none;
            width: 100%;
            padding: 15px 30px;
            color: white;
            font-weight: 600;

            &.active{
                background-color: #002E66;
            }
        }
    }

}

section{
    margin: 30px 0;
    padding: 30px 50px;
}

button{
    border: none;
    background-color: #0064d2;
    font-weight: 600;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}