<section>
    <!-- Header Section  -->
    <table>
        <tr>
            <th style="text-align: left; width: 600px; vertical-align: top;">
                <h1 style="margin: 0;"> JONATHAN DOE </h1>
                <h3 style="font-style: italic;"> WEB DESIGNER, DIRECTOR</h3>
            </th>
            <th style="text-align: left; vertical-align: top;">
                <button> Download PDF</button>
                <a href="mailto:name@yourdomain.com" style="color: red;">name@yourdomain.com</a>
                <p style="margin: 0;">(313)-867-5368</p>
            </th>
        </tr>
    </table>

    <!-- Profile Section  -->
    <table>
        <tr>
            <td style="width: 180px; vertical-align: top; font-style: italic;"> Profile </td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam corrupti, tenetur ratione neque
                aliquam voluptatem dicta quasi nostrum iusto ipsum maxime, reprehenderit tempora ex repellat odio
                adipisci earum non aspernatur!</td>
        </tr>
    </table>

    <!-- Skills Section  -->
    <table>
        <tr>
            <td style="width: 180px; font-style: italic;">Skills</td>
            <td>
                <h3> Wed Design</h3>
            </td>
            <td>
                <h3>Interface Design</h3>
            </td>
            <td>
                <h3>Project Direction</h3>
            </td>
        </tr>

        <tr>
            <td></td>
            <td style="padding-right:15px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, non.
            </td>
            <td style="padding-right:15px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam,
                quas?</td>
            <td style="padding-right:15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quo!
            </td>
        </tr>
    </table>

    <!-- Technical Section   -->
    <table>
        <tr>
            <td style="width: 180px; vertical-align: top; font-style: italic;"> Technical</td>
            <td>
                <table style="border-bottom: none; padding: 0; border-collapse: collapse;">
                    <tr style="border-bottom: 1px solid #dddddd;">
                        <td style="width: 180px;">XHTML</td>
                        <td style="width: 200px;">Jquery</td>
                        <td>OS X</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #dddddd;">
                        <td>CSS</td>
                        <td>PHP</td>
                        <td>Windows XP/Vista</td>
                    </tr>
                    <tr>
                        <td>Javascript</td>
                        <td>PHP</td>
                        <td>Windows XP/Vista</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Experience Section  -->
    <table>
        <tr>
            <td style="width: 180px; vertical-align: top; font-style: italic;">Experience</td>
            <td>
                <table style="padding: 0;">
                    <tr>
                        <td style="width: 470px;">
                            <h3>Facebook</h3>
                        </td>
                        <td>2005-2007</td>
                    </tr>
                    <tr>
                        <td><b>Senior Interface Designer</b></td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tempora amet
                            excepturi nobis nostrum tempore corporis, ea a suscipit nam!</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table style="border-bottom: none;">
                    <tr>
                        <td style="width: 470px;">
                            <h3>Apple Inc.</h3>
                        </td>
                        <td>2005-2007</td>
                    </tr>
                    <tr>
                        <td><b>Senior Interface Designer</b></td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tempora amet
                            excepturi nobis nostrum tempore corporis, ea a suscipit nam!</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Education Section  -->
    <table>
        <tr>
            <td style="width: 180px; vertical-align: top; font-style: italic;">Education</td>
            <td>
                <h3>Indiana University</h3>
                <p>Dual Major - <b>4.0 GPA</b></p>
            </td>

        </tr>
    </table>
    <p style="text-align: center;">
        Jonathan Doe - <a href="mailto:name@yourdomain.com" style="color: red;">name@yourdomain.com</a> - (313)-871-5309
    </p>
</section>