<section class="d-flex j-between">
    <p></p>
    <button routerLink="/react/form"> Add User</button>
</section>

<section class="d-flex j-center">
    <table>
        <thead>
            <tr>
                <th> Firstname</th>
                <th> LastName</th>
                <th> Phone Number</th>
                <th> Email</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let m of userlist">
                <td>{{ m.firstname }}</td>
                <td>{{ m.lastname }}</td>
                <td>{{ m.phone }}</td>
                <td>{{ m.elemail }}</td>
                <td><button class="btn"> Edit </button></td>
                <td><button class="btn" (click)="deldata(m.id)"> Delete </button></td>
            </tr>
        </tbody>
    </table>
</section>