<p>form-validation works!</p>

<div class="main">
    {{this.employeeform.value | json}}
    
    
    <form [formGroup]="employeeform" (ngSubmit)="submitEmployee()">

        <!--first name-->
        <div class="form-group">
            <label for="firstname"> firstName</label>
            <input formControlName="firstname" id="firstname" type="text" class="form-control">

            <div *ngIf="formValue['firstname'].touched && formValue['firstname'].invalid"
                class="alert alert-danger">
                <div *ngIf="formValue['firstname'].errors && formValue['firstname'].errors['required']"> firstName
                    is required.</div>

                <!-- <div *ngIf="formControl[' firstname'].errors && formControl[' firstname'].errors['minlength']"> firstName should be 3 character.</div> -->
            </div>
        </div>

        <!--Last name-->
        <div class="form-group">
            <label for="Lastname">Lastname</label>
            <input formControlName="Lastname" id="Lastname" type="text" class="form-control">

            <div *ngIf="formValue['Lastname'].touched && formValue['Lastname'].invalid" class="alert alert-danger">
                <div *ngIf="formValue['Lastname'].errors && formValue['Lastname'].errors['required']"> LastName
                    is required.</div>

                <!-- <div *ngIf="formControl[' firstname'].errors && formControl[' firstname'].errors['minlength']"> firstName should be 3 character.</div> -->
            </div>
        </div>


        <!--emaill-->
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="text" class="form-control">
            <div *ngIf="formValue['email'].touched && formValue['email'].invalid" class="alert alert-danger">
                <div *ngIf="formValue['email'].errors && formValue['email'].errors['required']">Email is required.
                </div>
                <!-- <div *ngIf="formControl['email'].errors && formControl['email'].errors['email']">Please, enter valid email address.</div> -->
            </div>
        </div>

        <!--date picker-->
        <div class="form-group">
            <label for="birthday">Birthday:</label>
            <input formControlName="dob" id="dob" type="date" class="form-control">

            <div *ngIf="formValue['dob'].touched && formValue['dob'].invalid" class="alert alert-danger">
                <!-- <div *ngIf="formControl['email'].errors && formControl['email'].errors['required']">Email is required.
                </div> -->
                <!-- <div *ngIf="formControl['email'].errors && formControl['email'].errors['email']">Please, enter valid email address.</div> -->
            </div>
        </div>

        <!--radio button-->
        <div class="form-group m-4">
            <label for="gender">gender:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="gender" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="inlineRadio1">male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="gender" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="inlineRadio2">female</label>
            </div>
        </div>


        <!--List -->
        <!-- <div class="form-group">
            <label for="department" class="form-label w-25 me-3">department:</label>
            <div>
                <select class="form-select" formControlName="department">
                    <option [value]="0" disabled>Open this select menu</option>
                   <option *ngFor="let department of departments" [value]="">  </option> 
                </select>
            </div>
        </div> -->

        <button class="btn btn-primary m-4"  type="submit">Submit</button>

        <!-- <button type="button" class="btn btn-success" (click)="resetForm()">Reset</button> -->
    </form>
</div>